.root2{
    -fx-background-color: black;
}
#Cashiers {
    -fx-font-family: helvetica;
    -fx-font-size: 20px;
    -fx-text-fill: white;

}
#Customers {
-fx-font-family: helvetica;
    -fx-font-size: 15px;
    -fx-text-fill: white;
}
#SimulationPane {
    -fx-background-color: RGBA(120,120,120,0.5);
}
.Label {
-fx-font-family: helvetica;
    -fx-font-size: 15px;
    -fx-text-fill: white;
}
#LiveData {
	-fx-font-family: helvetica;
	-fx-font-size: 12px;
	-fx-color: green;
}